fastapi==0.103.2
uvicorn[standard]
watchfiles>=1.0,<2.0
sqlalchemy
pyodbc
python-dotenv
python-jose
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
jinja2
pydantic[email]==1.10.15
email-validator
pillow
numpy
torch
transformers
cloudinary
